/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 150vh;
  /* background: #F9F9F9 !important; */
  font-family: 'Open Sans', sans-serif;

}

/* NavBar styling starts here */
.navBar {
  background: #ffff !important;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.logoImg {
  width: 15%;
}

.nav {
  margin-left: -7rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.navLink {
  padding-right: 2.5rem !important;
  color: #2d2e32 !important;
}

.navLink:hover {
  cursor: pointer;
  color: #D63384 !important;
  transform: translateY(-5%);
  font-weight: bold;
}

.navContact {
  color: #2d2e32 !important;
  transition: transform 0.3s;
}

.navContact:hover {
  cursor: pointer;
  color: #D63384 !important;
  transform: translateY(-5%);
  font-weight: bold;
}

.socialLink {
  margin-left: 20rem;
  margin-right: 1rem;
}

.socialIcon {
  width: 25px;
  height: 25px;
  color: #2d2e32;
}

.socialIcon:hover {
  cursor: pointer;
  color: #D63384;
  transform: translateY(-5%);
}
/* NavBar styling ends here */

/* main content */
/* home section styling starts */
.heroWrapper {
  background-color: #f9f9f9;
  width: 100%;
  height: 650px;
  padding: 8rem 12rem;
}

.heroImg {
  width: 350px;
  height: 350px;
  margin-left: 4rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  /* animation: morph 8s ease-in-out infinite;
  border: 8px dotted rgba(214,51,132,1); */
  /* *animation: rotateBorder 2s linear infinite; */ 
}

.heroImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  z-index: -1;
  border-radius: 50%;
  border: 8px dotted rgba(214, 51, 132, 1);
  animation: rotateBorder 2s linear infinite;
  transform-origin: center;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greetings {
  width: 500px;
  height: 380px;
}

.greetings h1 {
  /* outline: 1px solid black; */
  height: 170px;
  font-size: 3.5rem;
  font-weight: 700;
  color: #2d2e32;
  margin-top: 2rem;
  line-height: 1.2;
}

.womanCoding {
  width: 60px;
}

.greetings p {
  color: #767676;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 2rem;
  width: 380px;
}

.btnResume {
  width: 207px;
  height: 45px;
  border-radius: 1rem;
  border: none;
  color: #D63384;
  font-weight: 600;
}

.btnResume:hover {
  background-color: #2d2e32;
}

.skills {
  padding-top: 1rem;
  margin-top: 1.5rem !important;
}

.skills h2 {
  font-size: 1.3rem;
}

.logoIcon {
  width: 34px;
  height: 34px;
}

.divider {
  margin-left: 1rem;
}
/* home section styling ends */

/* About me styling */
.aboutSection {
  /* outline: 1px solid blue; */
  padding: 8rem 12rem;
  background: #ffff;
}

.aboutPic {
  /* width: 85%; */
  width: 410px;
  height: 350px;
  border-radius: 1.7rem;
}

.aboutMeWrapper {
  width: 480px;
}

.aboutText {
  color: #D63384;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.aboutDescription {
  color: #767676;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  width: 480px;
  height: 224px;
}

/* project section styling starts */
.projectsSection {
  background-color: #f9f9f9;
  padding: 8rem 12rem;
  /* outline: 1px solid red; */
}

.projectTitle {
  text-transform: uppercase;
  color: #D63384;
  font-size: 1.5rem;
  font-weight: 700;
}

.projectSubTitle {
  color: #2d2e32;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.projectCard {
  /* outline: 1px solid red; */
  border-radius: 1.7rem;
  background-color: #ffff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  width: 72vw;
  height: 400px;
  display: flex;
  padding: 1rem;
  margin-bottom: 4rem;
}

.imgWrapper {
  /* outline: 1px solid blue; */
  padding-top: 2rem;
}

.jadooImg {
  border-radius: 1.7rem;
  width: 90%;
}

/* .imgWrapper:hover {
  object-fit: cover;
  transform: translateY(calc(-100% + 400px));
  transition: 5s ease-out;
} */

.projectDescription {
  /* outline: 1px solid red; */
  width: 35rem;
  text-align: center;
  padding-top: 1.5rem;
}

.projectText {
  /* outline: 1px solid blue; */
  text-transform: uppercase;
  color: #2d2e32;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: .6rem;
}

.projectDetails {
  color: #767676;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  color: #000;
  font-weight: 700;
  padding: .5rem 1rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.links a {
  color: #2d2e32;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.links a:hover {
  cursor: pointer;
  color: #D63384;
  transform: translateY(-5%);
}

.projectIcon {
  font-size: 1.2rem;
  width: 25px;
  height: 25px;
  /* outline: 1px solid blue; */
  margin-left: .4rem;
}

.arrowRight {
  margin-left: .4rem;
}

.linkText {
  /* outline: 1px solid red; */
 position: relative;
 top: -.1rem;
}
/* project section  styling ends */

/* Contact section styling starts */
.contactSection {
  background: #fff;
  padding: 8rem 12rem;
}

.contactTitle {
  text-transform: uppercase;
  color: #D63384;
  font-size: 1.5rem;
  font-weight: 700;
}

.contactSubTitle {
  color: #2d2e32;
  font-size: 1.5rem;
  font-weight: 700;
}

.contactWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

.contactDetails {
  display: flex;
  gap: 1.5rem;
}

.iconWrapper {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding: 2rem;
}

.contactIcon {
  color: #D63384;
  font-size: 2rem;
}

.contactLocation {
  padding-top: 1rem;
}

.contactLocation h4 {
  color: #2d2e32;
  font-size: 1.3rem;
}

.contactLocation p {
  color: #767676;
  font-size: 1.3rem;
}

.contactLocation a {
  color: #767676;
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
}

.contactLocation a:hover {
  color: #D63384;
}
/* contact styling ends */

/* footer styling */
.footerSection {
  background-color: #2d2e32;
 padding: 4rem 12rem;
  width: 100%;
}

.footerFlex {
  display: flex;
  justify-content: space-between;
}

.footerText {
  color: #fff;
  font-size: 1.3rem;
}

.footerIcon {
  color: #fff;
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}

.footerIcon:hover {
  cursor: pointer;
  color: #D63384;
  transform: translateY(-5%);
}


/* Media Queries */
/*Large devices only */
@media(min-width: 1367px) {
/* .navbar {
  outline: 1px solid #D63384;
} */
.socialLink {
  margin-left: 30rem;
}
.heroWrapper {
  height: 1000px;
  padding: 15rem 30rem;
}
.heroImg {
  margin-left: 1rem;
}
.skills {
  margin-top: 2rem !important;
}
/* about me */
.aboutSection {
  padding: 8rem 30rem;
}
/* project section */
.projectsSection {
  padding: 8rem 30rem;
}
.projectCard {
  width: 55vw;
}
/* contact */
.contactSection {
  padding: 8rem 30rem;
}

/* footer */
.footerIcon {
  display: none;
}
.footerText {
  margin-left: 28rem;
}
}

/*Medium devices only */
@media(min-width: 992px) and (max-width: 1199px) {
  .socialLink {
    margin-left: 2rem;
  }
  .footerIcon {
    display: none;
  }
  .footerText {
    margin-left: 10rem;
  }

}

/*small devices only */
@media(min-width: 768px) and (max-width: 991px) {
  .navBar {
    /* outline: 1px solid green; */
    height: 90px;
  }
  .navLink {
    margin-top: 2rem;
  }
  .navContact {
    margin-top: 2rem;
  }
  .socialLink {
    position: relative;
    left: 7rem;
    bottom: 2.5rem;
  }
  .socialLinkGit {
    position: relative;
    bottom: 2.5rem;
    left: 8rem;
  }
  /* hero section */
  .heroWrapper {
    padding: 8rem 5rem;
    height: 900px;
  }
  .heroImg {
    width: 320px;
    height: 320px;
    margin-left: 13rem;
    margin-top: 2rem;
  }
  .greetings {
    width: 670px;
    height: 300px;
    text-align: center;
  }
  .greetings h1 {
    height: 150px;
    margin-left: 4rem;
  }
  .greetings p {
    width: 400px;
    margin-left: 10rem;
  }
  .btnResume {
    margin-left: 5rem;
  }
  .divider {
    margin-left: .6rem;
  }
  .techStack {
    width: 120px;
  }
  /* about section */
  .aboutSection {
    padding: 8rem 8rem;
  }
  .aboutPic {
    margin-left: 8rem;
  }
  .aboutMeWrapper {
    text-align: center;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  /* project section */
  .projectCard {
    /* outline: 1px solid red; */
    flex-direction: column;
    height: 700px;
    width: 60vw;
  }
  .imgWrapper {
    text-align: center;
  }
  .projectDescription {
    /* outline: 1px solid blue; */
    width: 20rem;
    margin: auto;
  }
  .links {
    margin-top: 3rem;
  }
  /* footer */
  .footerIcon {
    display: none;
  }
  .footerText {
    margin-left: 2rem;
  }
}

/* extra small devices only */
@media(max-width: 767px) {
  /* .navBar {
    outline: 1px solid red;
  } */
  .navToggle {
    border: none !important;
  }
  .navToggle:focus {
    box-shadow: none !important;
  }
  .socialIcon {
    display: none;
  }
  .navLink {
    text-align: center;
    /* outline: 1px solid blue; */
    width: 780px;
  }
  .navContact {
    text-align: center;
    margin-left: -2rem;
  }
  /* hero section */
  .heroWrapper {
    padding: 5rem 4rem;
    height: 980px;
  }
  .greetings {
    text-align: center;
  }
  .greetings h1 {
    font-size: 3rem;
  }
  .greetings p {
    margin-left: 3rem;
  }
  .heroImg {
    margin-left: 3rem;
  }
  .techStack {
    width: 100px;
    margin-left: -2rem;
  }
  .divider {
    display: none;
  }
  /* about section */
  .aboutSection {
    padding: 5rem 4rem;
  }
  .aboutMeWrapper {
    text-align: center;
    margin-left: -3rem;
    margin-top: 2rem;
  }
  /* project section */
  .projectsSection {
    padding: 5rem 4rem;
  }
  .projectCard {
    /* outline: 1px solid red; */
    flex-direction: column;
    height: 700px;
    width: 65vw;
    margin: 4rem auto;
  }
  .imgWrapper {
    text-align: center;
  }
  .projectDescription {
    /* outline: 1px solid blue; */
    width: 20rem;
    margin: auto;
  }
  .links {
    margin-top: 3rem;
  }
  /* contact */
  .contactSection {
    padding: 5rem 4rem;
  }
  /* footer */ 
  .footerSection {
    padding: 5rem 4rem;
  }
}

/* extra small */
@media (max-width: 575px) {
  /* .navBar {
    outline: 1px solid blue;
  } */
  /* hero section */
  .heroWrapper {
    padding: 8rem 1rem;
    height: 980px
  }
  .rowHero {
    flex-direction: column-reverse !important;
  }
  .greetings {
    width: 380px;
    height: 350px;
  }
  .greetings h1 {
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .greetings p {
  margin-left: 2rem;
  }
  .btnResume {
    margin-left: 2rem;
  }
  .heroImg {
    margin-left: 3rem;
  }
  .techStack {
   margin-left: 7rem;
  }
  .skills {
    margin-left: 2rem !important;
  }
  /* about section */
  .aboutSection {
    padding: 4rem;
  }
  .aboutMeWrapper {
    width: 380px;
    height: 400px;
    margin-left: -2rem;
  }
  .aboutPic {
    width: 350px;
    height: 250px;
  }
  .aboutDescription {
    width: 380px;

  }
   /* project section */
   .projectTitle {
    text-align: center;
  }
  .projectSubTitle {
    text-align: center;
  }
  .projectCard {
    width: 78vw;
    margin-left: -1rem;
  }
  .jadooImg {
    width: 101%;
  }
  /*
  .projectDescription {
    outline: 1px solid yellow;
    width: 70vw;
    margin-top: 1rem;
  } */
}

@media (min-width: 375px) and (max-width: 507px) {
  .navToggle {
    margin-top: -4rem;
  }
}

@media (min-width: 373px) and (max-width: 456px) {
  .navLink {
    width: 650px;
  }
  .navContact {
    margin-left: -2.4rem;
  }
  .heroImg {
    width: 280px;
    height: 280px;
    margin-left: 1rem;
  }
  .greetings {
    margin-left: -2rem;
  }
  .greetings p {
    width: 300px;
    margin-left: 3rem;
  }
  .techStack {
    margin-left: 5rem;
  }
  .aboutPic {
    width: 280px;
    height: 180px;
    margin-left: -2rem;
  }
  .aboutMeWrapper {
    width: 300px;
    height: 480px;
    margin-left: -3rem;
  }
  .aboutDescription {
    width: 300px;
    height: 357px;
    margin-left: 1rem;
  }
  /* project section */
  .projectCard {
    height: 650px;
  }
  .projectDescription {
    /* outline: 1px solid yellow; */
    width: 70vw;
    margin-top: 1rem;
  } 
  /* contact section */
  .contactDetails {
    /* outline: 1px solid red; */
    margin-left: -1.3rem;
  }
}

@media (max-width: 374px) {
  /* .navBar {
    outline: 1px solid purple;
  } */
  .navToggle {
    margin-top: -3rem;
  }
  .navLink {
    width: 530px; 
  }
  /* hero section */
  .heroWrapper {
    /* padding-left: -2rem; */
    padding-top: 6rem;
  }
  .heroImg {
    width: 280px;
    height: 280px;
    margin-left: 1rem;
  }
  .greetings {
    width: 300px
  }
  .greetings h1 {
    margin-left: 1rem;
  }
  .greetings p {
    width: 250px;
  }
  .techStack {
    margin-left: 4rem;
  }
  .skills {
    margin-top: 4rem !important;
  }
  /* about section */
  .aboutPic {
    width: 280px;
    height: 180px;
    margin-left: -2rem;
  }
  .aboutMeWrapper {
    width: 300px;
    height: 480px;
    margin-left: -3rem;
  }
  .aboutDescription {
    width: 300px;
    height: 357px;
  }
  /* project section */
  .projectTitle {
    text-align: center;
  }
  .projectSubTitle {
    text-align: center;
  }
  .projectCard {
    /* outline: 1px solid red; */
    width: 78vw;
    margin-left: -2rem;
    height: 600px;
  }
  .imgWrapper {
    padding: 0;
  }
  .jadooImg {
    width: 105%;
  }
  .projectDescription {
    /* outline: 1px solid yellow; */
    width: 70vw;
    margin-top: 1rem;
  }
  /* contact section */
  .contactSection {
    padding: 1rem;
  }
  .contactWrapper {
    text-align: center;
    flex-direction: column;
  }
  .contactDetails {
    flex-direction: column;
  }
  .iconWrapper {
    /* border-radius: 1%; */
    padding: 0;
    box-shadow: none;
  }
  /* footer */
  .footerSection {
    padding: 2.5rem;
  }
  .footerText {
    font-size: 1.2rem;
  }
}


/* Media Queries */

