@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 150vh;
  font-family: 'Open Sans', sans-serif;
}

.hamburger-icon:hover {
  filter: invert(35%) sepia(92%) saturate(3415%) hue-rotate(310deg) brightness(88%) contrast(90%); 
}

.socialIcon:hover {
  cursor: pointer;
  color: #D63384;
  transform: translateY(-5%);
  filter: invert(35%) sepia(92%) saturate(3415%) hue-rotate(310deg) brightness(88%) contrast(90%);
}

@media (min-width: 1280px) { 
  #name {
    text-align: left !important;
  }
  #techStack {
    margin-inline: 0 !important;
  }
}

@media (max-width: 366px) {
  #p-container {
    width: 18rem;
  }
}
