@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the code bellow */
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 150vh;
  font-family: 'Open Sans', sans-serif;
}

.hamburger-icon:hover {
  filter: invert(35%) sepia(92%) saturate(3415%) hue-rotate(310deg) brightness(88%) contrast(90%); 
}

.socialIcon:hover {
  cursor: pointer;
  color: #D63384;
  transform: translateY(-5%);
  filter: invert(35%) sepia(92%) saturate(3415%) hue-rotate(310deg) brightness(88%) contrast(90%);
}

@media (min-width: 1280px) { 
  #name {
    text-align: left !important;
  }
  #techStack {
    margin-inline: 0 !important;
  }
  .hero__img-container {
    height: 300px;
  }
}

@media (max-width: 366px) {
  #p-container {
    width: 18rem;
  }
}

@media (max-width: 768px) {
  .hero__img-container {
    height: 240px;
  }
  
}

.hero__img-container {
  border-radius: 2rem;
  background: rgb(214,51,132);
  background: linear-gradient(90deg, rgba(214,51,132,1) 29%, rgba(118,118,118,1) 59%);
  display: flex;
  justify-content: center;
  margin: auto;
  /* height: 300px; */
}

.hero__img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
}

.hero__img:hover {
  transform: rotate(0);
}
